<ion-view view-title="我">
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon assertive ion-email"></i>
        消息中心
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon assertive ion-card"></i>
        我的银行卡
        <span class="badge badge-assertive">5</span>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon assertive ion-android-phone-portrait"></i>
        修改手机
       <span class="item-note">180****4329</span>
       <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon assertive ion-briefcase"></i>
        我的红包
        <span class="badge badge-assertive">3</span>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>


      <div class="item item-divider">
        更多功能
      </div>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon assertive ion-locked"></i>
        密码管理
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon assertive ion-ios-redo"></i>
        投资风格
        <span class="item-note">积极型</span>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon assertive ion-android-cloud"></i>
        关于
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      
      <ion-toggle class="item item-icon-left" ng-model="settings.enableFriends">
        <i class="icon assertive ion-arrow-expand"></i>
        手势密码
      </ion-toggle>
    </div>
  </ion-content>
</ion-view>
